<!DOCTYPE HTML>
<html>
  <head>
    <title>Скачать маинкрафт.</title>
  </head>
  <style>
    .container{
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
    .over{
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    </style>
<body>
<dif class="container">
<h1>Раздел посвещён скачке маинкрафт.</h1>
<h4>Выберите раздел ниже:</h4>
<button>
<a href="#Licens">ЛИЦЕНЗИОННЫЙ лаунчер</a>
<a href="#Pirat">ПИРАТСКИЙ лаунчер</a>
</button>
<a name="Licens"></a>
<h2>Лицензионный лаунчер MineCraft.</h2>
<p>
Лицензионный лаунчер - это лаунчер разработанный и одобреный лаунчер от MOJANG.<br>
Плюсы:<br>
  + Java сама будет установлена на пк для нужной вам версии.<br>
  + Официальная система скинов.<br>
  + Возможность заходить на лицензионные сервера, такие как HyPixel и т.д.<br>
Минусы:<br>
  - Платная лицензия.<br>
  - Нет возможности купить в странах СНГ.<br>
Скачать:<br>
<h3>Windows:</h3><br>
<a href="/win10,11" download>Windows 10/11</a><br>
<a href="/winold" download>Old лаунчер</a><br>
<h3>MacOS:</h3><br>
<a href="/macos" download>MacOS</a><br>
<h3>Bedrock</h3><br>
<a href="https://play.google.com/store/apps/details?id=com.mojang.minecraftpe">Android</a><br>
<a href="https://apps.apple.com/us/app/minecraft/id479516143">IOS</a><br>
<h3>Linux</h3><br>
<a href="/lindeb">Сборки на DEBIAN</a>
<a href="https://aur.archlinux.org/packages/minecraft-launcher">Сборки на ARCH</a>
<a href="/linall">Остальное</a>
</p>
<br>
<br>
<a name="Pirat"></a>
<h2>НЕ лицензионный лаунчер.</h2>
<p>
Плюсы:<br>
  + Бесплатно<br>
  + много версий<br>
Минусы:
  - Нет доступа к лицензионым серверам<br>
  - Realms не работает<br>
  - Нет официальной поддержки
  - Никто не может дать гарантию, что в лаунчерах с интернета нет вирусов и майнеров.
<a href="https://tlauncher.org/">TLauncher</a>
<a href="/launcher">Наш лаунчер</a>
</p>
<button>
  <a href="/">back</a>
</button>
</dif>
</body>
</html>
