<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

            "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>Server Testing</title>
</head>
  <style>
    .container{
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
    .over{
      position:absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    </style>
</head>
<body background="static/fon.png">
{% include 'uppanel.html' %}
<h1>Welcom web site "minecrafters"</h1>
<button>
<a href="home">press</a>
</button>
{% include 'www.google.com' %}
</body>
</html>
